{% load i18n %}
{% load compress %}
{% load staticfiles %}

<div class="container-fluid">
  <div class="row">
    <img src="{% static 'images/logo01-transparente.png' %}" alt="" class="img-responsive" />
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Fundelec-logo</a>-->
      <a class="navbar-brand" href="{% url 'todo_index_view' %}">
        <img src="{% static 'img/home1.jpg' %}" style="height:32px; margin-top:-8px;" alt="" class="img-responsive" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {# <li>{% if request.user|has_group:"empleado" %}GENGO{% endif %}</li>#}
        <li class="dropdown">
          <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">
            Men&uacute;<span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'account_change_password' %}">Cambiar contraseña</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
